:root{
	--desktop: #b082c2;
	--desktop-mobile: linear-gradient(to bottom, #30cfd0 0%, #330867 100%);
	--desktop-veille: #000;
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

body {
	background-color: var(--desktop);
}

* {
	position: absolute;
}

*:before, *:after {
	content: "";
	position: absolute;
}

.hide {
	display: none;
}

.off {
	width: 0 !important;
	height: 0 !important;
	display: none;
	color: transparent;
}

.phone {
	width: 280px;
	height: 520px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

 .phone-body {
	width: 100%;
	height: 100%;
	border-radius: 30px;
	background: linear-gradient(45deg, #101010 0%,#848484 20%,#3a3a3a 52%,#848484 75%,#1e1e1e 89%,#131313 100%); 
	box-shadow: 10px 10px rgba(51, 51, 51, 0.3);
}

.button-off {
	width: 13%;
	height: 4%;
	top: -1%;
	left: 14%;
	background-color: #4c4c4c;
	border-radius: 6px;
}

.button-off:hover {
	cursor: pointer;
}

.led {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #212f3d;
	top: 4%;
	left: 14%;
	animation: blinker 5s linear infinite;
}


.appareil-photo::after {
	width: 50%;
	height: 50%;
	border-radius: 50%;
	background-color: #676767;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}
.appareil-photo {
	width: 5%;
	height: 2.5%;
	border-radius: 50%;
	background-color: #212f3d;
	top: 3.5%;
	right: 14%;
}

.micro {
	width: 20%;
	height: 2px;
	border-radius: 16px;
	background: linear-gradient(to bottom, #2B2B2B, #4c4c4c 50%, #2B2B2B);
	top: 4%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
}

.button-unlock {
	width: 45px;
	height: 45px;
	bottom: 1.5%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	background: linear-gradient(45deg, #7d7e7d 0%,#0e0e0e 100%);
	border-radius: 50%;
	border: 2px solid #929292;

}

.button-unlock:hover {
	cursor: pointer;
}
.screen {
	width: 83%;
	height: 80%;
	top: 9%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	border-radius: 3px;
}
.screen-veille {
	background-color: var(--desktop-veille);

}

.screen-veille .heure {
	font-family: 'Poppins', sans-serif;
	color: #fff;
	top: 85%;
	right: 12%;
}

.screen-veille .date {
	font-family: 'Poppins', sans-serif;
	color: #fff;
	top: 90%;
	right: 12%;
}

.screen-actif {
	background: var(--desktop-mobile);
	/* background-image: linear-gradient(to bottom, #30cfd0 0%, #330867 100%); */
}

.screen-parameters{
	background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
	color: #444;
	font-family: 'Dosis', sans-serif;
}

.screen-parameters .back {
	color: rgba(0, 0, 0, 0.6);
	top: 3.5%;
	right: 15%;
	z-index: 100000;
}

.screen-parameters .back:hover {
	cursor: pointer;
}

.screen-parameters .back i::before {
	padding: 10px;
	width: 10px;
	height: 10px;
}

.screen-parameters label[for="desktop"] {
	top: 6%;
	left: 6%;
}

.screen-parameters .desktop {
	top: 10%;
	left: 5%;
}

.screen-parameters label[for="desktop-mobile"] {
	top: 31%;
	left: 6%;
}

.screen-parameters .desktop-mobile {
	top: 35%;
	left: 5%;
}

.screen-parameters label[for="desktop-veille"] {
	top: 56%;
	left: 6%;
}

.screen-parameters .desktop-veille {
	top: 60%;
	left: 5%;
}

.screen-parameters input {
	width: 210px;
	height: 80px;
	border: none;
	-webkit-appearance: none;
	padding: 0;
	background-color: transparent;
}

.screen-parameters input:hover {
	cursor: pointer;
}

.screen-parameters .reset {
	width: 90%;
	top: 87%;
	left: 6%;
}

.screen-parameters .reset i {
	top: 13%;
	left: 91%;
}

.screen-parameters .reset:hover {
	cursor: pointer;
}
.menu {
	width: 100%;
	height: 4%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.2);
}

.menu .heure {
	font-family: 'Poppins', sans-serif;
	font-size: 0.9em;
	color: #fff;
	top: 0;
	left: 1.5%;
}

.batterie {
	top: 8%;
	right: 1.5%;
}

.batterie::before {
	width: 19px;
	height: 11px;
	top: 0;
	right: 0;
	background-color: #3a3a3a;
	border: 1px solid #3a3a3a;
}

.batterie::after {
	width: 6px;
	height: 11px;
	top: 0;
	right: 0;
	background-color: #fff;
	border: 1px solid #3a3a3a;

}

.icone {
	width: 60px;
	height: 60px;
	border-radius: 10px;
}

.message {
	top: 6%;
	left: 5%;
	color: #fff;
	font-size: 2.6em;
	background-color: #7df2b4;
}

.message i{
	top: 15%;
	left: 15%;
}

.message i::before {
	position: relative;
}

.message::before {
	top: -7%;
	right: -12%;
	width: 19px;
	height: 19px;
	border-radius: 50%;
	border: 2px solid #fff;
	background: -webkit-linear-gradient(bottom left, #ff3019 0%, #cf0404 100%);
	background: -o-linear-gradient(bottom left, #ff3019 0%, #cf0404 100%);
	background: linear-gradient(to top right, #ff3019 0%, #cf0404 100%);
}

.message::after {
	top: -7%;
	right: -4%;
	content: "1";
	font-family: 'Arial', sans-serif;
	font-size: 0.4em;
}

.agenda {
	top: 6%;
	left: 37%;
	background-color: #fff;
	font-family: 'Poppins', sans-serif;
}

.agenda .day {
	width: 100%;
	top: 10%;
	left: 0;
	text-align: center;
	font-size: 1em;
	transition: all 0.05s ease-in;
}

.agenda .day-number {
	width: 100%;
	top: 35%;
	left: 0;
	text-align: center;
	font-size: 1.9em;
	color: #ea5d5d;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.meteo {
	top: 6%;
	right: 5%;
	background-color: #c0dde0;
}

.meteo .fa-sun {
	top: 13%;
	left: 38%;
	color: #ffff00;
	font-size: 1.9em;
}

.meteo .fa-cloud {
	color: #fff;
	top: 29%;
	left: 14%;
	font-size: 2.1em;
}

.notepad {
	top: 23%;
	left: 5%;
	background-color: #fff;
}

.task {
	top: 23%;
	left: 37%;
	background-color: #fff;
}

.gallery {
	top: 23%;
	right: 5%;
	background-color: #fff;
}

.notepad {
	background-color: #feffc4;
}

.notepad .full{
	width: 100%;
	height: 18px;
	background-color: #d47f27;
	border-radius: 10px 10px 0 0;
}

.notepad .ligne {
	width: 90%;
	height: 10px;
	border-top: 1px solid rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(0,0,0,0.2);

}

.notepad .ligne.one {
	top: 40%;
	left: 4%;
}

.notepad .ligne.two {
	top: 70%;
	left: 4%;
}

.task {
	background-color: #feffc4;
}

.task .fa-circle {
	font-size: 0.5em;
	left: 6%;
}

.task .one::before, .task .two::before, .task .three::before, .task .four::before {
	width: 48px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.task .one {
	color: #ffcf78;
	top: 12%;
}

.task .two {
	color: #9a9aff;
	top: 32%;
}

.task .three {
	color: #9dd46b;
	top: 52%;
}

.task .four {
	color: #d86fd8;
	top: 72%;
}

.gallery .circle {
	width: 14px;
	height: 25px;
	-webkit-border-radius: 10px / 16px;
	-moz-border-radius: 10px / 16px;
	border-radius: 10px / 16px;
}

.gallery .circle1 {
	top: 12%;
	left: 37%;
	background: rgba(249, 175, 10, 0.5);
}

.gallery .circle2 {
	top: 15%;
	left: 23%;
	background: rgba(251, 255, 14, 0.5);
	transform: rotate(-45deg);
}

.gallery .circle3 {
	top: 26%;
	left: 24%;
	background: rgba(100, 255, 71, 0.4);
	transform: rotate(-90deg);
}

.gallery .circle4 {
	top: 40%;
	left: 24%;
	background: rgba(93, 248, 255, 0.5);
	transform: rotate(-135deg);
}

.gallery .circle5 {
	top: 43%;
	left: 37%;
	background: rgba(47, 102, 255, 0.3);
	transform: rotate(-180deg);
}

.gallery .circle6 {
	top: 40%;
	left: 55%;
	background: rgba(171, 8, 255, 0.3);
	transform: rotate(-225deg);
}

.gallery .circle7 {
	top: 25%;
	left: 55%;
	background: rgba(255, 0, 188, 0.3);
	transform: rotate(-270deg);
}

.gallery .circle8 {
	top: 13%;
	left: 51%;
	background: rgba(255, 5, 5, 0.3);
	transform: rotate(-315deg);
}

.parameters {
	left: 5%;
	top: 40%;
	color: #fff;
	font-size: 2.6em;
	background: linear-gradient(45deg, #e2e2e2 0%,#fefefe 14%,#dbdbdb 41%,#d1d1d1 52%,#fefefe 99%);
}

.parameters i {
	top: 14%;
	left: 16%;
}

.parameters i::before {
	background: linear-gradient(-45deg, #565656 0%,#777777 14%,#969494 40%,#6b6b6b 60%,#424242 99%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 0.5s ease-in-out;
}

.parameters:hover {
	cursor: pointer;
}

.parameters:hover i::before{
	transform: rotate(45deg);
}

.background {
	width: 100%;
	height: 100%;
}

.footer{
	bottom: 0;
	width: 100%;
	height: 75px;
	background-color: rgba(0,0,0,0.2);
}

.call {
	bottom: 10%;
	left: 5%;
	color: #fff;
	font-size: 2.6em;
	background-color: #7df2b4;
}

.call i {
	top: 16%;
	left: 14%;
}

.email {
	bottom: 10%;
	left: 37%;
	color: #fff;
	font-size: 2.6em;
	background-color: #297efd;
}

.email i {
	top: 17%;
  left: 15%;
}

.music {
	bottom: 10%;
	right: 5%;
	background-color: #a856ca;
	color: #6d0598;
  font-size: 2.6em;
}

.music i {
	top: 17%;
  left: 10%;
}



@keyframes blinker {
	0%,30%, 36%, 42%, 48%, 54%, 60% {
		background-color: #212f3d;
	}
	33%, 39%, 45%, 51%, 57%, 63% {
		background-color: #88ff00;
	}
	69%, 100%{
		background-color: #212f3d;
	}
}

@media screen and (max-width: 768px) {
	.phone {
		transform: translate(-50%, -50%) scale(2);
	}
}
@media screen and (max-width: 450px) {
	.phone {
		transform: translate(-50%, -50%) scale(2.5);
	}
}